body, *, html {
	padding: 0;
	margin: 0;
}
body {
	overflow-x: hidden;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
header {
	width: 100%;
	height: 50px;
	font: 24px/50px 'Avanti';
	text-align: center;
	font-weight: bold;
	color: #222;
}
.container {
	width: 100%;
	height: 80vh;
	position: relative;
}
.container img {
	width: 70%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 15%;
}
footer {
	width: 40%;
	margin: 20px auto 0;
}
input.btn {
	width: 100px;
	height: 35px;
	font: 20px/35px 'Avanti';
	color: #222;
	background-color: #ddd;
	border: 2px solid #222;
	font-weight: bold;
	cursor: pointer;
}

#first {
	display: block;
}
#second {
	display: none;
}

@keyframes swapFromFirstImg{
	from {
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	} to {
		transform: translate3d(-300px,0,0) scale(0.85);
		opacity: 0;
	}
}
@keyframes swapToFirstImg{
	from {
		transform: translate3d(300px,0,0) scale(0.85);
		opacity: 0;
	} to {
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}
@keyframes swapFromSecondImg {
	from {
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	} to {
		transform: translate3d(300px,0,0) scale(0.85);
		opacity: 0;
	}
}
@keyframes swapToSecondImg{
	from {
		transform: translate3d(-300px,0,0) scale(0.85);
		opacity: 0;
	} to {
		transform: translate3d(0,0,0) scale(1);
		opacity: 1;
	}
}