<div class="gal-container">
	<div class="h-ef right">
		<img class="background-ef" src="./assets/images/Vaporeon.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="h-ef right" style="margin-right: 80px;">
		<img class="background-ef" src="./assets/images/Espeon.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="h-ef left">
		<img class="background-ef" src="./assets/images/charmander.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="clear"></div>
	<br /><br /><br />
	<div class="h-ef right">
		<img class="background-ef" src="./assets/images/Leafeon.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="h-ef right" style="margin-right: 80px;">
		<img class="background-ef" src="./assets/images/Rowlet.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="h-ef left">
		<img class="background-ef" src="./assets/images/squirtle.png" 	/>
		<div class="line"></div>
		<div class="line"></div>
		<div class="imgContainer">
			<i class="fa fa-bookmark-o imgBtn1"></i>
			<i class="fa fa-shopping-cart imgBtn2"></i>
			<i class="fa fa-download imgBtn3"></i>
			<i class="fa fa-share-alt imgBtn4"></i>
		</div>
	</div>
	<div class="clear"></div>
	<br /><br /><br />
</div>